# Flask
FLASK_SECRET_KEY=CHANGE_ME_USE_RANDOM_SECRET

# Spotify Developer App
SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=YOUR_SPOTIFY_CLIENT_SECRET

# Spotify Redirect URL - change also in Spotify Dashboard
SPOTIFY_REDIRECT_URI=https://YOUR_DOMAIN/callback

# Optional: default playlist visibility (true / false)
DEFAULT_PLAYLIST_PUBLIC=false
